{% extends 'layouts/base.html' %}
{% load static %}
{%block title%}All students {% endblock%}

{% block body %} <h1> ITI</h1> {% endblock %}
{% block content %}
<h1> All Students from database </h1>

    <a href="{% url 'students.create' %}" class="btn btn-dark">Add new Student</a>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Track</th>
            <th>Image</th>
            <td>Show</td>
            <td> Edit </td>
            <td>Delete</td>

        </tr>
        {% for std in students %}
            <tr>
                <td>{{std.id}}</td>
                <td>{{std.name}}</td>
                <td>{{std.track}}</td>
<!--            <td><img width="200" height="200"-->
<!--             src="/media/{{std.image}}"> </td>-->
                   <td><img width="200" height="200"
             src="{{std.image_url}}"> </td>

                <td><a href="{{std.show_url}}" class="btn btn-info">Show</a></td>
                <td><a href="{{std.edit_url}}" class="btn btn-warning">Edit</a></td>

            <td><a href="{% url 'students.delete' std.id %}" class="btn btn-danger">Delete</a></td>

            </tr>
        {% endfor %}

    </table>

{% endblock %}