{% extends 'layouts/base.html' %}
{% load static %}
{%block title%}All students {% endblock%}

{% block body %} <h1> ITI</h1> {% endblock %}
{% block content %}
<h1> All Students </h1>
<h3 style="color: darkred"> Hiiii</h3>

    {{students}}


    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Track</th>
            <th>Image</th>
            <td>Show</td>

        </tr>
        {% for std in students %}
            <tr>
                <td>{{std.id}}</td>
                <td>{{std.name}}</td>
                <td>{{std.track}}</td>
<!--                <td><img width="200" height="200" src="{% static 'students/images/'%}{{std.image}}"> </td>-->
            <td><img width="200" height="200"
             src="{% static 'students/images/'|add:std.image %}"> </td>

                <td><a href="{% url 'std_profile' std.id %}" class="btn btn-info">Show</a></td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}